@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pretendard', sans-serif;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

/* Custom scrollbar for premium feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #2b4360;
  border-radius: 10px;
}
